NATSMonitor/bin
NATSMonitor/obj
TestIngest/bin/**/*.*
TestIngest/obj/**/*.*
.idea/
packages/
*.user
/.vs/*
DeluxePSModule/Staging/
DockerModule/Staging/
*.TempPoint.*
*.Export.*
*.psprojs
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf
*.psbuild